@use './variables' as *;
@use './mixins' as *;

.alert-content {
	@include rem (max-width, 384);
	@include rem (padding, 40px 24px 24px 24px);
	@include rem (border-radius, 12);
}
.alert-header {
	text-align: center;
	align-items: center;
	justify-content: center;
}
.alert-title {
	@include rem (margin-bottom, 40);
	@include f(18, 400, 1.5);
	color: $color-212529;
}
.alert-desc {
	@include f(18, 400, 1.5);
	color: $color-212529;
}
// mobile
@media (max-width: 1023px) {

}