@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.checkbox-wrap {
	display: flex;
	align-items: center;
	column-gap: 8px;

	.checkbox-input {
		@include rem (width, 22);
		@include rem (height, 22);
		@include rem (border-radius, 6);
		position: relative;
		border: 1px solid $color-d9d9d9;
		padding: 0;
		appearance: none;
		cursor: pointer;
		background-color: $color-ffffff;
		box-shadow: none;
		&:disabled {
			background-color: $color-e9ecef;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('../images/icon/ico_checkbox_off.png') no-repeat center center;
			background-size: 10px 7px;
		}

		&[data-state="checked"] {
			background-color: $color-259abd;
			border: none;

			&::before {
				background: url('../images/icon/ico_checkbox_on.png')no-repeat center center;
				background-size: 10px 7px;
			}
		}
	}

	label {
		@include f(18, 500, 1.4);
		color: $color-262626;
	}
}