@use './variables' as *;
@use './mixins' as *;

// 푸터 > 윤리경영 > 처리결과 확인
.ethicsresults-wrap {
	// 이메일 폼
	.input-group.email-type {
		@include rem (max-width, 580);

		.email-type-input {
			width: 100%;
		}

		@include mobile {
			max-width: 100%;
		}
	}

    .info-bx .info-list .info-item .info-title {
        color: $color-212529;
    }

    .textarea-wrap textarea {
        @include f(16, 500, 1.6);
    }

    .info-bx .info-list .info-item {
        color: $color-555555;
    }

	.from-group.grid-type {
		@include rem (gap, 40);
	}

	@include mobile {
		.hgroup-wrap.more-type p {
			margin-bottom: 0;
		}
	}

    .ethicsresults-wrap-01 {
        .info-bx {
            @include rem (margin-top, 64);
            padding: 0;
            border: none;
            background-color: transparent;
        }
    }
    
    .ethicsresults-wrap-02 {
        .info-bx{
            @include rem (padding, 20px 24px);
            .info-list {
                .info-item {
                    strong {
                        color: $color-212529;
                        @include mobile {
                            @include f(16, 600, 1.6);
                        }
                    }
                } 
            } 
        }
        .result-status {
            .label-txt {
                @include rem (margin, 24px 0 12px);
            }
        }
    }
    
    .ethicsresults-wrap-03 {
        .info-bx{
            @include rem (padding, 20px 24px);
            .info-list {
                .info-item {
                    strong {
                        color: $color-212529;
                        @include mobile {
                            @include f(16, 600, 1.6);
                        }
                    }
                } 
            } 
        }
        .result-status {
            .label-txt {
                @include rem (margin, 24px 0 12px);
            }
        }
    }
}

