@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

// @import '../fonts/Pretendard-Regular.css';
// @import '../fonts/Pretendard-Medium.css';
// @import '../fonts/Pretendard-SemiBold.css';
// @import '../fonts/Pretendard-Bold.css';

// // 기본 폰트 설정
// body {
//   font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

.hgroup-wrap {
  @include rem (margin-bottom, 64);

  &.more-type {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @include mobile {
      // flex-direction: column;
      // align-items: flex-start;
    }
    .component-select {
      @include rem (width, 350);
    }
    .label-txt {
      @include f(12, 400, 1.4);
      color: $color-9d9d9d;
    }
  }

  &.line-type {
    @include rem (padding-bottom, 16);
    @include rem (margin-bottom, 32);
    border-bottom: 1px solid $color-868e96;
  }

  &.tooltip-type {
    display: flex;
    align-items: center;
    @include rem (column-gap, 8);
  }

  &.sub {
    @include rem (margin-bottom, 24);
  }
  p,h2 {
    color: $color-000000;
  }
  span {
    color: $color-212529;
  }
}

.f48-700-140 {
  @include f(48, 700, 1.4);

  &+.desc-txt {
    @include rem (margin-top, 8);
    color: $color-212529;
  }
}

.f40-700-140 {
  @include f(40, 700, 1.4);
  @include mobile {
    @include f(24, 700, 1.4);
  }
  &+.desc-txt {
    color: $color-212529;
  }
}

.f40-700-130 {
  @include f(40, 700);
}

.f32-700-140 {
  @include f(32, 700, 1.4);
}

.f28-700-140 {
  @include f(28, 700, 1.4);
}
.f24-700-160 {
  @include f(24, 700, 1.6);
}
.f24-700-140 {
  @include f(24, 700, 1.4);
  .text-destructive {
    font-size: 2.4rem !important;
    font-weight: 700 !important;
    line-height: 1.4 !important;
    color: $color-000000 !important;
  }
}

.f24-600-140 {
  @include f(24, 600, 1.4);
}

.f20-700-160 {
  @include f(20, 700, 1.6);
}

.f20-500-160 {
  @include f(20, 500, 1.6);
}

.f20-700-140 {
  @include f(20, 700, 1.4);
}
.f20-400-160 {
  @include f(20, 400, 1.6);
}
.f18-600-140 {
  @include f(18, 600, 1.4);
}

.f18-600-160 {
  @include f(18, 600, 1.6);
}

.f18-500-160 {
  @include f(18, 500, 1.6);
}

.f18-400-160 {
  @include f(18, 400, 1.6);
}

.f16-600-160 {
  @include f(16, 600, 1.6);
}

.f16-500-160 {
  @include f(16, 500, 1.6);
}

.f16-400-160 {
  @include f(16, 400, 1.6);
}
.f15-600-140 {
  @include f(15, 600, 1.4);
}
.f15-400-140 {
  @include f(15, 400, 1.4);
}
.f14-600-140 {
  @include f(14, 600, 1.4);
}

.f14-400-140 {
  @include f(14, 400, 1.4);
}

.f12-400-140 {
  @include f(12, 400, 1.4);
}

// mobile
@media (max-width: 1023px) {
  .hgroup-wrap {
    @include rem (margin-bottom, 40);

    &.more-type {

      // flex-direction: column;
      // align-items: flex-start;
      p {
        @include rem (margin-bottom, 40);
      }
    }
    &.sub {
      @include rem (margin-bottom, 16);
    }
  }

  .f48-700-140 {
    @include f(32, 700, 1.3);

    &+.desc-txt {
      @include rem (margin-top, 4);
    }
  }

  .f40-700-140 {

    // @include f(40, 700, 1.4);
    &+.desc-txt {
      // color: $color-212529;
    }
  }

  .f40-700-130 {
    @include f(24, 700, 1.4);
  }

  .f32-700-140 {
    @include f(28, 700, 1.4);
  }

  .f28-700-140 {
    @include f(20, 700, 1.4);
  }
  .f24-700-160{
    @include f(20, 700, 1.4);
  }
  .f24-700-140 {
    @include f(20, 700, 1.4);
  }

  .f24-600-140 {
    // @include f(24, 600, 1.4);
  }

  .f20-700-140 {
    @include f(18, 700, 1.4);
  }

  .f20-700-160 {
    @include f(18, 600, 1.6);
  }

  .f20-500-160 {
    @include f(18, 500, 1.6);
  }

  .f18-600-140 {
    // @include f(18, 600, 1.4);
  }

  .f18-600-160 {
    // @include f(18, 600, 1.6);
  }
  .f18-500-160 {
    @include f(16, 500, 1.6);
  }
  
  .f18-400-160 {
    @include f(16, 400, 1.6);
  }

  .f16-600-160 {
    // @include f(16, 600, 1.6);
  }

  .f16-400-160 {
    // @include f(16, 400, 1.6);
  }

  .f14-600-140 {
    // @include f(14, 600, 1.4);
  }

  .f14-400-140 {
    @include f(13, 400, 1.4);
  }

  .f18-400-160 {
    // @include f(18, 400, 1.6);
  }

  .f12-400-140 {
    // @include f(12, 400, 1.4);
  }
}