@use './variables' as *;
@use './mixins' as *;

.footer {
	@include rem (width, 100%);
	position: relative;
	background: url("../images/contents/footer/footer_bg.png") no-repeat center center;
	background-size: 100% 100%;
	.footer-inner {
		@include rem (padding, 56px 120px 64px);
		@include rem (max-width, 1920);
		@include rem (margin, 0 auto);
	}
	.footer-logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer-logo-img {
		@include rem (width, 205);
		@include rem (height, 40);
		@include rem (margin, 0);
		display: inline-block;
	}
	.footer-info {
		@include rem (margin-top, 26);
	}
	.privacy-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		& + .privacy-list {
			@include rem (margin-top, 8);
		}
		& + address {
			@include rem (margin-top, 32);
		}
		li {
			a {
				@include f(16, 400, 1.5);
				color: $color-212529;
				&.active {
					font-weight: 600;
					color: $color-259abd;
				}
			}
			& + li {
				@include rem (margin-left, 24);
			}
		} 
	}
	address {
		& + .copyright {
			@include rem (margin-top, 16);
		}
		dl {
			dt + dd {
				@include rem (margin-left, 8);
			}
		}
		.footer-group {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			dl {
				@include rem (margin-top, 6);
				flex-shrink: 0;
				& + dl {
					@include rem (margin-left, 34);
					position: relative;
						&::before {
							content: '';
							display: inline-block;
							@include rem (width, 1);
							@include rem (height, 12);
							@include rem (left, -16);
							@include rem (top, 50%);
							background-color: $color-868e96;
							position: absolute;
							transform: translateY(-50%);
						}
				}
				dd {
					@include rem (margin-left, 8);
				}
			}
		}
		dl {
			dt, dd {
				display: inline-block;
				@include f(14, 400, 1.3);
			}
			dt {
				color: $color-868e96;
				font-weight: 700;
			}
		}
	}
	.copyright {
		@include f(14, 400, 1.5);
		color: $color-868e96;
	}
	.footer-select {
		@include rem (right, 120);
		@include rem (top, 56);
		position: absolute;
		.select-display  {
			@include rem (width, 240);
			@include rem (height, 48);
			@include f(16, 500, 1.6);
			@include rem (padding, 12px 16px 12px 20px);
			@include rem (border-radius, 100);
			color: $color-495057;
			background-color: $color-ffffff;
			border: none;
			.ico-select-arrow {
				background: url("../images/icon/ico_footer_select_arrow.png") no-repeat center center;
				background-size: 20px 20px
			}
		}
	}
}

// mobile
@media (max-width: 1023px) {
	.footer {
		background: url("../images/contents/footer/footer_mo_bg.png") no-repeat center center;
		background-size: 100% 100%;
		.footer-inner {
			@include rem (max-width, 100%);
			@include rem (padding, 40px 20px 80px);
		}
		.footer-logo {
			// flex-direction: column;
			// align-items: flex-start;
		}
		.footer-logo-img {
			@include rem (width, 143);
			@include rem (height, 28);
		}
		.footer-info {
			@include rem (margin-top, 32);
		}
		.privacy-list {
			li + li {
				margin-left: 0;
			}

			&:nth-child(1) {
				// flex-wrap: wrap;
				@include rem (column-gap, 16);
				li {
					@include rem (margin-bottom, 8);
					// @include rem (width, 50%);
					flex-shrink: 0;
					
				}
			}
			&:nth-child(2) {
				@include rem (row-gap, 8);
				@include rem (column-gap, 16);
				flex-wrap: wrap;
				// flex-direction: column;
				// align-items: flex-start;
				li {
					flex-shrink: 0;
					
				}
			}
			& + .privacy-list {
				@include rem (margin-top, 0);
			}
			& + address {
				@include rem (margin-top, 24);
			}
			li {
				a {
					&.active {
					}
				}
				& + li {
				}
			} 
		}
		address {
			// display: flex;
			// align-items: center;
			// flex-wrap: wrap;
			& + .copyright {
			}
			dl {
				& + dl {
				}
				dt, dd {
				}
				dt {
				}
				dd {
					& + dt {
						&.email-label {
							@include rem (margin, 6px 0 8px 1px);
							
							&::before {
								display: none;
							}
						}
						&::before {
						}
					}
				}
			}
		}
		.copyright {
		}
		.footer-select {
			// @include rem (right, 120);
			// @include rem (top, 56);
			position: static;
			.select-display  {
				@include rem (max-width, 100%);
				@include rem (margin-top, 40);
				@include rem (width, 100%);
				.ico-select-arrow {
				}
			}
		}
	}
}

@media (max-width: 580px) {
	.footer {
		address {
			.footer-group {
				dl.email-label {
					@include rem (margin-left, 0);
					&::before {
						display: none;
					}
				}
			} 
		} 
	} 
}