@use './variables' as *;
@use './mixins' as *;

// 회사소개 css 영역입니다
.greeting-wrap{
  @include mobile{
    .hgroup-wrap{
      @include rem(margin-bottom, 40);
    }
  }

  section:nth-child(2) {
    @include rem(margin-top, 104);
    @include mobile {
      @include rem(margin-top, 40);
    }
  }

  .txt-wrap{
    @include rem(margin-top, 48);
    display: flex;
    justify-content: space-between;
    @include rem(gap, 24);
    .tit{
      @include rem(width, 384);
      flex-shrink: 0;
    }
    .desc-wrap{
      @include rem(padding-bottom, 100);
      position: relative;
      flex: 1;
      @include f(24, 500, 1.6);
      color: $color-495057;
    }
    .sign-wrap{
      display: flex;
      flex-direction: column;
      @include rem(gap, 4);
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      p{
        @include rem(font-size,18 );
        font-weight: 700;
        color: $color-212529;

        @include mobile{
          @include f(14, 700, 1.4);
        }
      }
      .name{
        @include f(24, 700, 1.6);
        @include mobile{
          @include f(16, 700, 1.6);
        }
      }
    }
    @include mobile{
      @include rem(margin-top, 24);
      flex-direction: column;
      @include rem(gap,24 );
      .tit{
        width: 100%;
      }
      .desc-wrap{
        @include rem(font-size, 16 );
        padding-bottom: 0;
      }
    }
  }
}

html[lang="ja"] { 
  .greeting-wrap .txt-wrap .desc-wrap p {
    word-break: break-all;
  }
}