@use './variables' as *;
@use './mixins' as *;


.ico{
  display: inline-block;
  @include rem(width, 24);
  @include rem(height, 24);
  background-repeat: no-repeat;
  background-size: 100% auto;
  &.small {
    @include rem(width, 20);
    @include rem(height, 20);
  }
}
.ico-place{
  background-image: url("../images/icon/ico_place.png");
}
.ico-call{
  background-image: url("../images/icon/ico_call.png");
}
.ico-fax{
  background-image: url("../images/icon/ico_fax.png");
}
.ico-top-right-arrow{
  background-image: url("../images/icon/ico_top_right_arrow.png");
}
.ico-tel {
  background-image: url("../images/icon/ico_tel.png");
}
.ico-email {
  background-image: url("../images/icon/ico_email.png");
}
.ico-breadcrumb-home {
  @include rem (width, 16);
  @include rem (height, 16);
  background: url("../../assets/images/icon/ico_breadcrumb_home.png") no-repeat center center;
  background-size: 16px 16px;
}
.ico-breadcrumb-arrow {
  @include rem (margin, 0 4px);
  @include rem (width, 16);
  @include rem (height, 16);
  background: url("../../assets/images/icon/ico_breadcrumb_arrow.png") no-repeat center center;
  background-size: 16px 16px;

  svg {
    display: none;
  }
}
.ico-select-arrow {
  @include rem (width, 20);
  @include rem (height, 20);
  background: url("../../assets/images/icon/ico_select_arrow.png") no-repeat center center;
  background-size: 20px 20px;
}
.ico-select-arrow {
  @include rem (width, 20);
  @include rem (height, 20);
  background: url("../../assets/images/icon/ico_select_arrow.png") no-repeat center center;
  background-size: 20px 20px;
}
.ico-refresh {
  @include rem (width, 20);
  @include rem (height, 20);
}
.ico-download {
  background: url("../../assets/images/icon/ico_download.png") no-repeat center center;
  background-size: 24px 24px;
}
.ico-application {
  background: url("../../assets/images/icon/ico_application.png") no-repeat center center;
  background-size: 40px 40px;
}
.ico-top-btn {
  background: url("../../assets/images/icon/ico_top_btn.png") no-repeat center center;
  background-size: 24px 24px;
}

.ico-alipay-mini {
  background: url("../../assets/images/icon/ico_alipay_mini.png") no-repeat center center;
  background-size: 24px 24px;
}

.ico-cube-mini {
  background: url("../../assets/images/icon/ico_cube_mini.png") no-repeat center center;
  background-size: 24px 24px;
}

.ico-yunu-mini {
  background: url("../../assets/images/icon/ico_yunu_mini.png") no-repeat center center;
  background-size: 24px 24px;
}

.ico-wechat-mini {
  background: url("../../assets/images/icon/ico_wechat_mini.png") no-repeat center center;
  background-size: 24px 24px;
}