@use './variables' as *;
@use './mixins' as *;

// 파일업로드 (개발)
.file-input-bx {
	@include rem (width, 100%);
	& > div {
		@include rem (width, 100%);
	}
	.file-input-wrap {
		@include rem (column-gap, 20);
		display: flex;
		flex-direction: row-reverse;
		.file-bx{
			@include rem (border-radius, 6);
			@include rem (width, 100%);
			@include rem (height, 48);
			@include rem (padding-left, 20);
			display: flex;
			align-items: center;
			background-color: $color-f8f9fa;
			border: 1px solid $color-e9ecef;
			color: $color-adb5bd;
		}
		.file-btn {
			@include f(16, 600, 1.4);
			@include rem (height, 48);
			border: 1px solid $color-212529;
			display: flex;
			align-items: center;
			background-color: $color-transparent;
			justify-content: center;
		}
	}
}




.input-group {

	@include rem (height, 48);
	@include rem (border-radius, 6);

	&.email-type {
		display: flex;
		align-items: center;
		height: auto;

		&.pull {
			input {
				@include rem (width, 100%);
			}
		}

		.email-type-input {
			display: flex;
			align-items: flex-start;
			> div {
				flex: 1;
			}
			span {
				transform: translateY(1.4rem);
			}
		}



		input {
			@include rem (width, 100%);
		}

		span {
			@include f(14, 400, 1.4);
			@include rem (margin, 0 8px);
			display: inline-block;
		}

		.component-select {
			@include rem (width, 100%);
			+ .component-select {
				@include rem (margin-left, 8);
			}
		}
	}

	&.file-type {
		@include rem (width, 100%);
		display: flex;
		align-items: center;
		justify-content: space-between;

		.input-wrap {
			&+.btn {
				@include rem (margin-left, 12);
				// 다국어에 필요 [ 길이 이슈 ]
				width: auto;
			}

			input {
				@include rem (width, 100%);
			}
		}
	}

	&.text-area {
		height: auto;
		position: relative;

		.text-word {
			position: absolute;
			@include rem(right, 16);
			@include rem(bottom, 12);
			@include f(14, 400, 1.4);
			color: $color-9d9d9d;

			.text-count {
				color: $color-259abd;
				font-weight: 600;
			}
		}

	}

	.input-wrap {
		@include rem (width, 100%);
		position: relative;
	}
	input {
		@include rem (padding, 12px 36px 12px 16px);
		@include rem (height, 48);
		@include rem (border-radius, 6);
		@include f(18, 600, 1.4);
		border: 1px solid $color-dee2e6;
		&:-webkit-autofill {
			appearance: none;
			background-color: #fff !important;
			color: var(--input-autofill-text-color, #000) !important;
			-webkit-text-fill-color: #000 !important;
			transition: background-color 5000s ease-in-out 0s; /* 깜빡임 방지용 트릭 */
		  }
		&:focus, &:focus-visible {
			background-color: $color-f3ffff !important;
			border: 1px solid $color-259abd;
		}
		&::placeholder {
			@include f(18, 500, 1.4);
			color: var(--input-placeholder-color, #adb5bd);
		}

		&:disabled {
			background-color: var(--input-disabled-background-color);
		  border: 1px solid var(--input-disabled-border-color);
		  color: var(--input-disabled-text-color);
		}

	}

	&.hold-txt {
		input {
			color: $color-000000 !important;
			opacity: 1 !important;
		}
	}

	.clear-btn {
		@include rem (width, 20);
		@include rem (height, 20);
		@include rem (top, 50%);
		position: absolute;
		transform: translateY(-50%);

		&:not(:has(+ .search-btn-wrap)) {
			@include rem (right, 10);
		}

		&:has(+ .search-btn-wrap) {
			@include rem (right, 30);
		}

		button {
			@include rem (width, 20);
			@include rem (height, 20);
			background: url("../images/btn/btn_clear.png") no-repeat center center;
			background-size: 100% auto;
		}
	}

	.search-btn-wrap {
		@include rem (width, 24);
		@include rem (height, 24);
		@include rem (top, 50%);
		@include rem (right, 12);
		position: absolute;
		transform: translateY(-50%);
		&:hover {
			border: none;
		}
		&:focus-visible {
			outline: none;
		}

		button {
			@include rem (padding, 0);
			@include rem (width, 24);
			@include rem (height, 24);
			background: url("../images/btn/btn_search.png") no-repeat center center;
			background-size: 100% auto;	
			outline: none;
				border: none;
			&:hover {
				border: none;
			}
			&:focus-visible {
				outline: none;
				border: none;
			}
		}
	}

	@media (max-width: 1023px) {
		.input-group {
			@include rem (height, auto);

			// @include rem (border-radius, 6);
			&.email-type {
				flex-direction: column;
				align-items: flex-start;

				// display: flex;
				// justify-content: space-between;
				.email-type-input {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				input {
					@include rem (width, 100%);
				}

				span {
					// @include f(14, 400, 1.4);
					// @include rem (margin, 0 8px);
					// display: inline-block;
				}

				.component-select {
					@include rem (width, 100%);
					@include rem (margin, 12px 0 0 0);
				}
			}

			&.file-type {

				// display: flex;
				// align-items: center;
				// justify-content: space-between;
				.input-wrap {
					&+.btn {
						// @include rem (margin-left, 12);
					}
				}
			}

			.input-wrap {
				// @include rem (width, 100%);
				// position: relative;
			}

			input {

				// @include rem (padding, 12px 36px 12px 16px);
				// @include rem (height, 48);
				// @include rem (border-radius, 6);
				// @include f(18, 600, 1.4);
				// border: 1px solid $color-dee2e6;
				&::placeholder {
					// @include f(18, 500, 1.4);
					// color: $color-adb5bd;
				}

				&:disabled {
					// background-color: $color-f8f9fa;
					// border: 1px solid $color-e9ecef;
					// color: $color-adb5bd;
				}
			}

			.clear-btn {
				// @include rem (width, 20);
				// @include rem (height, 20);
				// @include rem (top, 50%);
				// @include rem (right, 16);
				// position: absolute;
				// transform: translateY(-50%);

				button {
					// @include rem (width, 20);
					// @include rem (height, 20);
					// background: url("../images/btn/btn_clear.png") no-repeat center center;
					// background-size: 100% auto;
				}
			}
		}
	}
}