@use './variables' as *;
@use './mixins' as *;


// 오시는 길 css 영역입니다 
.location-wrap {
  .map-wrap {
    @include rem(border-radius, 24);
    overflow: hidden;
  }

  section:nth-child(2) {
    @include rem(margin-top, 104);
    @include mobile {
      @include rem(margin-top, 40);
    }
  }

  .map-info {
    @include rem (width, 100%);
    @include rem(margin-top, 64);
    @include rem(column-gap, 156);
    display: flex;
    justify-content: space-between;
  }

  .info-tit {
    @include rem(width, 252);
    color: $color-000000;
  }

  .info-wrap {
    @include rem(row-gap, 24);
    flex: 1;
    display: flex;
    flex-direction: column;

    >li {
      @include rem(column-gap, 24);
      display: flex;
      align-items: flex-start;
      .tit{
        @include rem(width, 200 ); 
        color: $color-495057;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include rem(gap, 0 8px);
      }

      .desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        @include rem(gap, 4 );
        @include rem(font-size, 20 );
        line-height: 1.6;
        color: $color-212529;
        span {
          @include rem(font-size, 20 );
          font-weight: 400;
          color: $color-212529;
        }
        @include mobile{
          @include rem(font-size, 18);
          span{
          @include rem(font-size, 18);
            
          }
        }
      }
    }
  }
  @include mobile{
    .map-info{
      flex-direction: column;
      @include rem(gap, 24 );
      @include rem(margin-top,24 );
    }
    .info-tit{
      width: 100%;
    }
    .info-wrap{
      > li{
        flex-direction: column;
        @include rem(gap, 4);
      }
    }
  }
}

