@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;

.pagination {
  @include rem (column-gap, 8);
  @include rem (margin-top, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    @include rem (column-gap, 0);
  }

  .pagination-button {
    @include rem (min-width, 32);
    @include rem (height, 32);
    @include rem (padding, 0 8px);
    @include f(14, 400, 1.4);
    background: $color-transparent;
    color: $color-868e96;
    cursor: pointer;

    &.first-arrow {
      background: url('../../assets/images/icon/ico_first_arrow.png') no-repeat center center;
      background-size: 16px auto;
    }
    &.prev-arrow {
      background: url('../../assets/images/icon/ico_prev_arrow.png') no-repeat center center;
      background-size: 16px auto;
    }
    &.next-arrow {
      background: url('../../assets/images/icon/ico_next_arrow.png') no-repeat center center;
      background-size: 16px auto;
    }
    &.last-arrow {
      background: url('../../assets/images/icon/ico_last_arrow.png') no-repeat center center;
      background-size: 16px auto;
    }

    &.active {
      @include rem (border-radius, 4);
      font-weight: 600;
      background: #f1f3f5;
      color: $color-259abd;
    }
  }
} 