@use './variables' as *;
@use './mixins' as *;

.privacy-policy-wrap {
	section:nth-child(2) {
		@include rem (margin-top, 104);
	}
	section:nth-child(3) {
		@include rem (margin-top, 64);
	}
	.hgroup-wrap {
		@include mobile {
			@include rem (margin-bottom, 40);
		}
		&.more-type {
			@include mobile {
				flex-direction: column;
			align-items: flex-start;
			}
			p {
				@include mobile { 
					@include rem (margin-bottom, 24);
				}
			}
		} 
	}
	.conditions-grid-wrap {
		@include rem (margin-top, 16);

		.conditions-grid {
			@include rem (column-gap, 24);
			@include rem (row-gap, 16);
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			.conditions-grid-item {
				@include rem (padding, 20px 24px);
				@include rem (border-radius, 16);
				@include rem (column-gap, 16);
				display: flex;
				align-items: flex-start;
				border: 1px solid $color-e9ecef;
				background: #fff;

				.img-bx {
					img {
						@include rem (max-width, 64);
						@include rem (width, 64);
						@include rem (height, 64);
					}
				}

				.info-bx {
					@include rem (padding, 0);
					border: none;
					background-color: transparent;
					@include mobile {
						@include rem (height, 100%);
					}
					strong {
						display: block;
						color: $color-212529;

						&+p {
							@include rem (margin-top, 4);
						}
					}

					p {
						color: $color-212529;

						&+span {
							@include rem (margin-top, 4);
						}
					}

					span {
						display: block;
						color: $color-495057;
					}
				}
			}
		}
	}

	.conditions-notice {
		@include rem (margin-top, 16);
		@include rem (padding, 24px 32px);
		@include rem (column-gap, 32);
		@include rem (border-radius, 16);
		background-color: $color-f8f9fa;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: repeat(5, auto);
		@include mobile {
			@include rem (padding, 24px);
		}
		div {
			@include rem (padding-left, 24);
			@include f(16, 600, 2.0);
			position: relative;
			color: $color-212529;
			@include mobile {
				@include rem (padding-left, 0);
			}

			&.active {
				color: $color-259abd;
			}

			// &::before {
			// 	content: attr(data-number) ".";
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// }
		}
	}

	.txt-list-bx {
		.block-bx {
			@include rem (margin-top, 64);
			.f20-700-140{
				color: $color-212529;
			}
			a {
				color: $color-259abd;
			}

			p:not([class]) {
				@include rem (margin-top, 16);
				@include f(16, 400, 1.6);
				color: $color-212529;
				&.type02 {
					@include rem (margin-top, 4);
				}
			}

			strong {
				@include rem (margin-top, 16);
				@include f(16, 600, 1.6);
				display: block;
				color: $color-212529;
				position: relative;
				&.number-1,&.number-2,&.number-3,&.number-4,&.number-5,&.number-6,&.number-7,&.number-8,&.number-9,&.number-10 {
					@include rem (padding-left, 20);
				}
				&.type02 {
					@include rem (margin-top, 4);
				}
				&::before {
					position: absolute;
					@include rem (left, 0);
					@include rem (top, 0);
				}
				&.number-1::before{
					content: '1)';
				}
				&.number-2::before{
					content: '2)';
				}
				&.number-3::before{
					
					content: '3)';
				}
				&.number-4::before{
					
					content: '4)';
				}
				&.number-5::before{
					
					content: '5)';
				}
				&.number-6::before{
					
					content: '6)';
				}
				&.number-7::before{
					
					content: '7)';
				}
				&.number-8::before{
					
					content: '8)';
				}
				&.number-9::before{
					
					content: '9)';
				}
				&.number-10::before{
					
					content: '10)';
				}
				&+strong {
					@include rem (margin-top, 4);
				}
			}

			span {
				@include rem (margin-top, 4);
				@include rem (padding-left, 12);
				@include f(16, 400, 1.6);
				display: inline-block;
				color: $color-868e96;

				&.sm-txt {
					color: $color-212529;
				}
			}

			ul {
				@include rem (margin-top, 4);
				@include rem (padding-left, 12);

				li {
					@include f(16, 400, 1.6);
					color: $color-495057;
					& + li {
						@include rem (margin-top, 4);
					}
					&.under {
						@include f(14, 400, 1.4);
						color: $color-495057;
					}
					&.type02 {
						@include f(16, 400, 1.6);
						color: $color-212529;
					}
					p {
						@include rem (margin-top, 4);
						color: $color-495057;
						&.type02 {
							color: $color-212529;
						}
					}

				}
			}
			ol {
				@include rem (margin-top, 4);
				@include rem (padding-left, 12);
				li {
					@include f(14, 400, 1.4);
					color: $color-495057;
					& + li {
						@include rem (margin-top, 4);
					}
					&.type02 {
						@include f(16, 400, 1.6);
						color: $color-212529;
					}
					&.under{
						@include rem (padding-left, 16);
						position: relative;
						&::before{
							@include rem (width, 6);
							@include rem (height, 1);
							@include rem (left, 0);
							@include rem (top, 8);
							content: '';
							position: absolute;
							display: block;
							background-color: $color-495057;
						}
					}
					&.dot {

						& + .dot {
							@include rem (margin-top, 4);
						}
														
						@include rem (padding-left, 15);
						@include f(15, 400, 1.4);
						color: $color-495057;
						position: relative;
						&::before{
							@include rem (width, 3);
							@include rem (height, 3);
							@include rem (left, 0);
							@include rem (top, 50%);
							@include rem (border-radius, 50%);
							content: '';
							position: absolute;
							display: block;
							transform: translateY(-50%);
							background-color: $color-adb5bd;
						}
					}
				}
			}
		}
	}
	.footer-table-wrap {
		@include rem (margin-top, 8);
		@include rem (width, 100%);
		@include mobile {
			overflow-x: scroll;
			overflow-y: hidden;
		}
		.footer-table {
			@include rem (width, 100%);
			border-top: 1px solid $color-dee2e6;
			border-bottom: 1px solid $color-dee2e6;
			@include mobile {
				min-width: 1200px;
			}
			th,td {
				@include rem (padding, 16px 20px);
				@include f(16, 400, 1.4);
				color: $color-495057;
			}
			th {
				font-weight: 500;
				color: $color-212529;
				background-color: $color-f8f9fa;
				& + th {
					border-left: 1px solid $color-dee2e6;
				}
			}
			td {
				text-align: left;
				border-top: 1px solid $color-dee2e6;
				&.title {
					font-weight: 500;
				color: $color-212529;
				}
				&.left-border {
					border-left: 1px solid $color-dee2e6;
				}
				+ td {
					border-left: 1px solid $color-dee2e6;
				}
			}
		}
	}
}

// mobile
@media (max-width: 1023px) {
	.privacy-policy-wrap {
		.conditions-grid-wrap {
			.conditions-grid {
				grid-template-columns: repeat(1, 1fr);

				.conditions-grid-item {
					@include rem (padding, 20);

					.img-bx {
						flex-shrink: 0;

						img {
							@include rem (width, 48);
							@include rem (height, 48);
						}
					}

					.info-bx {
						&+p {}
					}

					p {
						&+span {}
					}

					span {}
				}
			}
		}


		.conditions-notice {
			@include rem (padding, 24);
			grid-auto-flow: unset;
			grid-template-rows: repeat(1, auto);

			div {
				&.active {}

				&::before {}
			}
		}

		.txt-list-bx {
			.block-bx {
				a {}

				p:not([class]) {}

				strong {
					&+strong {}
				}

				span {
					&.sm-txt {}
				}

				ul {
					li {
						&+li {}

						p {}

						ol {
							li {}
						}
					}
				}
			}
		}
	}
}