@use './variables' as *;
@use './mixins' as *;

.quickmenu-wrap {
  @include rem (width, 64);
  @include rem (height, 64);
  @include rem (right, 48);
  @include rem (bottom, 128);
  @include rem (border-radius, 50%);
  box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;


  .quickmenu {
    @include rem (width, 64);
    @include rem (height, 64);
    @include rem (border-radius, 50%);
    border: 1px solid rgba(37, 154, 189, 0.1);
    background-color: $color-3fb1d1;
    background-image: url("../images/btn/btn_franchise.svg");
    background-position: 50% 50%;
    background-size: 4rem 4rem;
    background-repeat: no-repeat;
    // transition: background-color 0.3s;
  }

  &.active {
    .quickmenu { 
        background-color: $color-868e96;
        background-image: url("../images/btn/btn_close.svg");
        background-position: 50% 50%;
        background-size: 3.2rem 3.2rem;
        background-repeat: no-repeat;
    }
    .quickmenu-content { 
        visibility: visible;
    }
  }

  .quickmenu-content {
    position: absolute;
    visibility: hidden;
    right: 0;
    @include rem (width, 360);
    height: auto;
    @include rem (padding, 32);
    @include rem (bottom, 76);
    @include rem (border-radius, 20);
    background: $color-343a40;
    cursor: auto;
    box-shadow: 0px 1.2rem 1.6rem -0.4rem rgba(16, 24, 40, 0.1);
    opacity: 0;
    transform: translate(0, 1rem);

    .quickmenu-tit {
        @include rem (font-size, 24);
        font-weight: 700;
        color: $color-ffffff;
    }

    .quickmenu-desc {
        @include rem (margin-top, 8);
        @include rem (font-size, 16);
        font-weight: 400;
        color: $color-ffffff;
        line-height: 1.4;
        em {
            color: $color-7ccfe4;
            font-weight: 600;
        }
    }
  }

  .quickmenu-list {
    display: flex;
    flex-direction: column;
    @include rem (margin-top, 32);
  
    li {
        text-align: center;
        a {
            @include rem (padding, 13px 16px);
            @include rem (border-radius, 100);
            @include rem (height, 48);
            @include rem (font-size, 16);
            display: block;
            background: $color-212529;
            color: $color-ffffff;
            font-weight: 600;
        }
        
        + li {
            @include rem (margin-top, 16);
        }
    }
  }

  .tel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include rem (margin-top, 40);
    @include f(14, 500, 1.4);
    color: $color-ffffff;
    .ico {
        @include rem (margin-right, 6);
    }
  }

  .logout-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    text-align: center;
    @include rem (margin-top, 24);
    @include f(14, 500, 1.4);
    @include rem (height, 20);
    color: $color-ffffff;
    border-bottom: 1px solid $color-dee2E6;
    padding: 0;
    border-radius: 0;
    &:hover {
        border-color: tr;
    }
  }
} 

// 모바일
@media (max-width: 1023px) {
    .quickmenu-wrap {
        @include rem (width, 48);
        @include rem (height, 48);
        @include rem (right, 16);
        @include rem (bottom, 78);

        .quickmenu-list {
            @include rem (margin-top, 24);
            li + li {
                @include rem (margin-top, 10);
            }
        }


        .quickmenu {
            @include rem (width, 48);
            @include rem (height, 48);
            background-color:$color-3fb1d1;
            background-size: 3rem 3rem;
        }

        &.active {
            .quickmenu {
                background-color: $color-868e96;
                background-size: 2.4rem 2.4rem;
            }
        }

        .quickmenu-content { 
            @include rem (width, 310);
            height: auto;
            @include rem(bottom, 56);
            @include rem (padding, 32px 32px 24px 32px);

            .quickmenu-tit { 
                @include rem (font-size, 20);
                line-height: 1.4;
            }
        }

        .tel {
            @include rem (margin-top, 32);
        }

        .logout-btn {
            @include rem (margin-top, 16);
        }
    }
}

