@use '@/assets/scss/variables' as *;
@use '@/assets/scss/mixins' as *;


.radio-wrap {
	@include rem (height, 48);
	display: flex;
	align-items: center;
	label {
		@include f(18, 500, 1.4);
	}
	.radio-btn {
		@include rem (width, 24);
		@include rem (height, 24);
		border: none !important;
		border-radius: 50%;
		border: 1px solid $color-868e96;
		background: url("../images/icon/ico_radio_off.png")no-repeat center center;
		background-size: 100% auto;
		&[data-state="checked"] {
			background: url("../images/icon/ico_radio_on.png")no-repeat center center;
			background-size: 100% auto;
		}
	}
	.radio-item {
		display: flex;
		align-items: center;
		& + .radio-item {
			@include rem (margin-left, 40);
		}
		button + label {
			@include rem (margin-left, 8);
		}
		label {
			@include rem (margin-left, 8);
			cursor: pointer;
		}
	}
}

@media (max-width: 1023px) {
	.radio-wrap {
		display: grid;
		@include rem (grid-template-columns, 1fr 1fr);
		// align-items: center;
		// flex-direction: column;
		// align-items: flex-start;
		label {
			// @include f(18, 500, 1.4);
		}
		.radio-btn {
			// @include rem (width, 24);
			// @include rem (height, 24);
			// border: none !important;
			// border-radius: 50%;
			// border: 1px solid $color-868e96;
			// background: url("../images/icon/ico_radio_off.png")no-repeat center center;
			// background-size: 100% auto;
			&[data-state="checked"] {
				// background: url("../images/icon/ico_radio_on.png")no-repeat center center;
				// background-size: 100% auto;
			}
		}
		.radio-item {
			@include rem (margin-top, 16);
			// display: flex;
			// align-items: center;
			& + .radio-item {
				@include rem (margin-left, 0);
			}
			button + label {
				// @include rem (margin-left, 8);
			}
			label {
				// cursor: pointer;
			}
		}
	}
}
