@use './variables' as *;
@use './mixins' as *;

.refund-eligibility-wrap {
	@include rem (padding, 40px 0 144px 0);
  @include mobile {
    @include rem (padding, 32px 0 80px 0);
  }
	section {
		&:first-child {
			.hgroup-wrap {
				@include rem (margin-bottom, 16);
				@include mobile {
					@include rem (margin-bottom, 12);
				}
			}
		}
		&:nth-child(2) {
			@include rem (margin-top, 16);
			@include mobile {
				@include rem (margin-top, 0);
			}
		}
	}

	.img-cont {
		@include rem (border-radius, 20);
		overflow: hidden;
		@include mobile {
			@include rem (border-radius, 16);
		}
	}

	@include mobile {
		.tab-wrap.type02 .tab-head {
			@include rem (margin-bottom, 28);
		}
	}

	.title-wrap .tit {
		color: $color-212529;
	}

	.info-bx .info-list .info-item {
		@include f(18, 400, 1.6);
		
		@include mobile {
			@include f(16, 400, 1.6);
		}
	}

	@include mobile {
		.f20-700-140 {
		  @include f(20, 700, 1.4);
		}
	  }


	.refund-eligibility-content {
		@include rem (margin-top, 80);
		display: flex;
		justify-content: space-between;
		@include rem(gap, 24);
		@include mobile {
			@include rem (margin-top, 0);
		}

		&+.refund-eligibility-content {
			@include rem(margin-top, 104);

			@include mobile {
				@include rem(margin-top, 64);
			}
		}

		@include mobile {
			flex-direction: column;
		}
	}

	@include mobile {
		.tab-head .tab-sticky {
			overflow: scroll;
		}
	}

	.cont-wrap {
		@include rem (row-gap, 0);
		.txt-cont-title {
			@include rem(margin-top, 40);
			@include mobile {
				@include rem(margin-top, 28);
			}
		}

		.info-bx.border-none {
			@include rem(margin-top, 20);
			@include mobile {
				@include rem(margin-top, 12);
			}
		}

		.f20-700-140 {
			@include rem(margin-top, 40);
			@include mobile {
				@include rem(margin-top, 24);
			}
		}

		.info-bx .info-list .info-item + .info-item { 
			@include rem(margin-top, 12);
			@include mobile {
				@include rem(margin-top, 4);
			}
		}

		
	}

	.title-wrap {
		@include rem(width, 384);
		@include mobile {
			@include rem(width, 100%);
		}

		p {
			@include rem (margin-bottom, 16);
		}

		dl {
			dt + dd {
				@include rem (padding-top, 16);
				color: $color-495057;
				@include mobile {
					@include rem (padding-top, 8);
				}
			}
		}
	}
	.txt-cont-title {
		@include rem (margin-bottom, 16);
		@include rem (column-gap, 16);
		display: flex;
		align-items: center;
		@include mobile {
			@include rem (margin-bottom, 12);
			@include rem (column-gap, 12);
			align-items: flex-start;
		}
		span {
			width: auto;
			@include rem (height, 44);
			@include rem (padding, 10px 20px);
			@include rem (border-radius, 80);
			@include f(18, 700, 1.4);
			color: $color-ffffff;
			background-color: $color-259abd;
			text-align: center;
			flex-shrink: 0;
			@include mobile {
				@include rem (height, 34);
				@include rem (padding, 4px 12px);
				@include f(16, 600, 1.6);
			}
		}
		p {
			@include f(20, 700, 1.4);
			color: $color-259abd;
			
			@include mobile {
				display: flex;
				align-items: center;
				@include f(18, 700, 1.4);
				@include rem (padding-right, 20);
				@include rem (min-height, 34);
			}
		}
	}
	.info-bx{
		@include rem (border-radius, 24);
		@include rem (padding, 24px 40px 40px);
		@include mobile {
			@include rem (border-radius, 12);
			@include rem (padding, 20px 24px 24px);
		}
		.info-txt {
			@include rem (margin-bottom, 16);
			@include mobile {
				@include rem (margin-bottom, 8);
			}
		}
	}
	.link-list {
		@include rem (margin-top, 16);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include rem (column-gap, 24);
		@include rem (row-gap, 20);
		@include mobile {
			grid-template-columns: repeat(1, 1fr);
			@include rem (row-gap, 12);
		}
		a {
			@include rem (padding, 24px 32px);
			@include f(20, 700, 1.4);
			@include rem (border-radius, 20);
			border: 1px solid $color-f1f3f5;
			background-color: $color-f8f9fa;
			display: block;
			position: relative;
			@include mobile {
				@include rem (padding, 20);
				@include f(18, 700, 1.4);
			}
			&:hover {
				color: $color-212529;
			}
			&::after {
				@include rem (top, 50%);
				@include rem (right, 32);
				@include rem (width, 24);
				@include rem (height, 24);
				content: '';
				display: block;
				position: absolute;
				background: url("../images/icon/ico_top_right_arrow.png")no-repeat center center;
				background-size: 100% auto;
				transform: translateY(-50%);
				@include mobile {
					@include rem (right, 20);
				}
			}
		}
	}
	

	.info-bx {
		& + .info-bx {
			@include rem (margin-top, 24);
		}
		.info-txt {
			@include f(20, 700, 1.4);
			@include mobile {
				@include f(18, 700, 1.4);
			}
		}
		ol {
			@include rem (margin-top, 12);
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			li {
				@include rem (width, 20%);
				@include f(16, 400, 1.6);
				color: $color-555555;
				@include mobile {
					@include rem (width, 50%);
				}
			}
		}
	}
}