@use './variables' as *;
@use './mixins' as *;

.refundstep-wrap {
  .tab-wrap.step-type .tab-head {
    @include rem(gap, 16);
    @include rem(margin-bottom, 104);
    @include mobile {
      @include rem(gap, 12);
      @include rem(margin-bottom, 64);
    }
  }

  .tab-wrap .tab-head .tab-head-item + .tab-head-item {
    margin-left: 0;
  }

  .tab-wrap.step-type .tab-head-item[data-state=active] {
    width: 100%;
  }

  .hgroup-wrap {
    @include mobile {
      @include rem(margin-bottom, 40);
    }
  }

  .hgroup-wrap.sub {
    @include mobile {
      @include rem(margin-bottom, 16);
    }
  }


  .tab-wrap.step-type .tab-head {
    @include mobile {
      @include rem(margin-bottom, 64);
    }
    .tab-head-item {
      @include mobile {
        font-size: 14px;
      }
    }
  }

  .info-bx {
    p {
      @include f(16, 400, 1.4);
      color: $color-212529;
    }
  }

}