@use './variables' as *;
@use './mixins' as *;

.refund-methods-wrap {
  @include rem (padding-top, 40);
  @include rem (padding-bottom, 144);

  @include mobile {
    @include rem (padding-bottom, 80);
    .cont-wrap .step-cont .tit {
      @include f(18, 700, 1.4);
    }

    .cont-wrap .step-cont .desc-list li {
      @include f(16, 400, 1.6);
      &.no-dot {
        &::before {
          display: none;
        }
      }
    }
  }


  .cont-wrap .step-cont .desc-list li {
    &.no-dot {
      @include rem (gap, 104);
      &::before {
        display: none;
      }
    }
  }

  .cont-wrap .step-cont .desc-list li a.mo-alipay, .cont-wrap .step-cont .desc-list li a.mo-cube {
    width: fit-content;
    &::after {
      content: '';
      position: relative;
      display: inline-block;
      @include rem (width, 20);
      @include rem (height, 20);
      background: url("../images/icon/ico_newtab.png") no-repeat center center;
      background-size: 20px 20px;
    }
  }

  section {
    section:nth-child(2) {
      @include rem (margin-top, 104);

      @include mobile {
        @include rem (margin-top, 64);
      }
    }
  }

  .refund-list-bx .refund-info-bx {
    @include rem (margin-top, 8);
    @include mobile {
      @include rem (margin-top, 8);
    }
  }

  .txt-bx .f20-700-140 {
    @include mobile {
      @include f(20, 700, 1.4);
    }
  }

  .refund-list-bx .refund-info-bx02 p {
    @include mobile {
      @include f(15, 600, 1.4);
    }
  }

  
  .inner + section {
    @include rem (margin-top, 40);
    @include mobile {
      @include rem (margin-top, 24);
    }
  }

  .tab-wrap .tab-head {
    @include rem (max-width, 1200px !important);
    @include rem (margin, 0 auto 104px !important);
    @include rem (padding, 0 !important);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    .tab-head-item {
      flex-shrink: 0;
    }
    @include mobile {
      @include rem (width, 100%);
      @include rem (margin, 0 auto 40px !important);
      @include rem (padding, 0 20px !important);
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .tab-head-item {

        & + .tab-head-item {
          @include rem (margin-left, 8);
        }
      }
    }
  }

  .info-bx .info-list .info-item {
    color: $color-495057;
    @include f(15, 400, 1.4);
  }

  .mobile-refund {
    @include rem(margin-top, 104);
  }

  .mobile-refund-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    @include rem(row-gap, 20);
    @include rem(column-gap, 24);
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      @include rem(row-gap, 16);
    }

    .btn {
      background: transparent !important;
    }

    li {
      @include rem(padding, 24px 32px);
      @include rem(border-radius, 20);
      border: 1px solid $color-f1f3f5;
      background: $color-f8f9fa;
      @include mobile {
        @include rem(padding, 20);
      }
      
      .tit {
        display: flex;
        align-items: center;
        @include f(20, 700, 1.4);
        color: $color-212529;
        .ico {
          @include rem(margin-right, 8);
        }
      }

      .link,
      .btn-app {
        @include f(16, 500, 1.4);
        color: $color-343a40;
      }

      .link {
        position: relative;
        display: flex;
        @include rem(margin-top, 16);
        padding: 0;
        background: transparent !important;
        &::after {
          content: '';
          position: relative;
          display: inline-block;
          right: 0;
          @include rem(width, 20);
          @include rem(height, 20);
          @include rem(margin-left, 4);
          background: url("../images/icon/ico_view.png") 50% 50% / 100% no-repeat;
        }
        + .btn-app {
          @include rem(margin-top, 12);
          @include mobile {
            @include rem(margin-top, 8);
          }
        }
      }

      .btn-app {
        display: flex;
        align-items: center;
        padding: 0;
        background: transparent;
        &::after {
          content: '';
          position: relative;
          display: inline-block;
          right: 0;
          @include rem(width, 20);
          @include rem(height, 20);
          @include rem(margin-left, 4);
          background: url("../images/icon/ico_newtab.png") 50% 50% / 100% no-repeat;
        }
      }
    }

    .pc-show {
      display: flex !important;
      @include mobile {
        display: none !important;
      }
    }

    .mo-show {
      display: none !important;
      @include mobile {
        display: flex !important;
      }
    }

  }

  .refund-methods-top-bx {
    @include rem(column-gap, 24);
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    .img-cont {
      @include rem(width, 100%);

      img {
        @include rem (width, 100%);
        @include rem (height, 320);

        @include mobile {
          @include rem (height, 168);
          @include rem (border-radius, 16);
          object-fit: cover;
        }
      }
    }

    .txt-cont {
      @include rem (width, 384);
      @include rem (padding, 32px 32px 40px 32px);
      @include rem (border-radius, 24);
      background-color: $color-f1f3f5;
      position: relative;
      flex-shrink: 0;

      @include mobile {
        @include rem (margin-top, 16);
        @include rem (width, 100%);
        @include rem (padding, 24);
        @include rem (border-radius, 16);
      }


      .mark-bx {
        @include rem (width, 84);
        @include rem (height, 84);
        @include rem (top, 0);
        @include rem (right, 0);
        display: block;
        position: absolute;
        background: url("../images/contents/traveler/traveler_img02.png") no-repeat center center / contain;
        z-index: 1;

        &::before,
        &::after {
          content: '';
          position: absolute;
          @include rem (width, 24);
          @include rem (height, 24);
          @include mobile {
            @include rem (width, 16);
            @include rem (height, 16);
          }
        }

        &::before {
          top: 0%;
          right: 100%;
          background: #ffffff;
          mask-image:
            radial-gradient(circle at bottom left,
              rgba(255, 0, 0, 1) 0,
              rgba(255, 0, 0, 1) 23px,
              transparent 24px),
            linear-gradient(#000000, #000000);
          mask-size: 100%, 100%;
          mask-position: 0 0;
          mask-composite: exclude;
          @include mobile {
            mask-image:
            radial-gradient(circle at bottom left,
              rgba(255, 0, 0, 1) 0,
              rgba(255, 0, 0, 1) 15px,
              transparent 16px),
            linear-gradient(#000000, #000000);
          }
        }

        &::after {
          right: 0%;
          top: 100%;
          background: #ffffff;
          mask-image:
            radial-gradient(circle at bottom left,
              rgba(255, 0, 0, 1) 0,
              rgba(255, 0, 0, 1) 23px,
              transparent 24px),
            linear-gradient(#000000, #000000);
          mask-size: 100%, 100%;
          mask-position: 0 0;
          mask-composite: exclude;
          @include mobile {
            mask-image:
            radial-gradient(circle at bottom left,
              rgba(255, 0, 0, 1) 0,
              rgba(255, 0, 0, 1) 15px,
              transparent 16px),
            linear-gradient(#000000, #000000);
          }
        }

        @include mobile {
          @include rem (width, 60);
          @include rem (height, 60);
        }
      }

      .tit {
        @include f(20, 700, 1.4);
        color: $color-259abd;

        @include mobile {
          @include f(16, 600, 1.6);
        }
      }

      .info-txt-bx {
        @include rem (height, 220);
        display: flex;
        align-items: flex-end;

        @include mobile {
          @include rem (margin-top, 16);
          @include rem (height, auto);
        }

        .info-txt-bx-inner {
          .desc-bx {
            display: flex;
            align-items: center;
          }

          span {
            @include f(20, 400, 1.4);
            color: $color-217899;

            @include mobile {
              @include f(16, 400, 1.4);
            }

            &+span {
              @include rem (margin-left, 8);
            }
          }

          p {
            @include rem (margin-top, 8);
            @include f(20, 400, 1.4);
            color: $color-495057;

            @include mobile {
              @include f(16, 400, 1.4);
            }
          }
        }
      }
    }
  }



  .refund-methods-mid-bx {
    @include rem (column-gap, 105);
    display: flex;
    align-items: flex-start;

    @include mobile {
      flex-direction: column;
    }

    .left-bx {
      @include rem (width, 303);

      @include mobile {
        @include rem (margin-bottom, 24);
      }
    }

    .cont-wrap {
      gap: 0;
      @include mobile {
      width: 100%;
      }
    }
  }

  @include mobile {
    .refund-list-bx {
      @include rem (row-gap, 16);
    }
  }

  .refund-list-section {
    @include rem (margin-top, 104px !important);
    @include rem (padding, 104px 0 144px);
    @include rem (margin-bottom, -144);
    border-image-source: linear-gradient(#f8f9fa, #f8f9fa);
    border-image-slice: 0 fill;
    border-image-outset: 0 100vw;

    @include mobile {
      @include rem (padding, 48px 0 80px);
      @include rem (margin-bottom, -80);
      @include rem (margin-top, 64px !important);
    }

    .hgroup-wrap.sub {
      @include rem (margin-bottom, 40);

      @include mobile {
        @include rem (margin-bottom, 24);
      }
    }

    .tab-wrap .tab-head {
      @include rem (margin-bottom, 40px !important);
    

      @include mobile {
        @include rem (margin-bottom, 24px !important);
        padding: 0 !important;
      }
    }
    .info-bx {
      @include rem (margin-top, 64);
      background-color: $color-ffffff;
      @include mobile {
        @include rem (padding, 16px 20px);
        @include rem (height, 100%);
        @include rem (margin-top, 40);
      }
    }
  }
}