@use './variables' as *;
@use './mixins' as *;

.sitemap-wrap {
  @include mobile {
    .hgroup-wrap.more-type p {
      margin-bottom: 0;
    }
  }

  section:nth-child(2) {
    @include rem(margin-top, 104);
    @include mobile { 
      @include rem(margin-top, 40);
    }
  }

  .sitemap-list {
    > li {
      background: $color-f8f9fa;
      height: auto;
      @include rem(border-radius, 24);
      @include rem(padding, 40px 48px 48px 48px);
      @include mobile { 
        @include rem(padding, 32px 24px);
      }
      + li {
        @include rem(margin-top, 64);
        @include mobile { 
          @include rem(margin-top, 24);
        }
      }

      .category-title {
        @include f(24, 700, 1.4);
        color: $color-259abd;
        @include mobile {
          @include f(18, 700, 1.4);
        }
      }

      .category-links {
        display: flex;
        @include rem(margin-top, 24);
        @include rem(gap, 80);
        @include f(20, 500, 1.6);
        color: $color-495057;
        @include mobile {
          flex-direction: column;
          @include rem(gap, 24);
          @include f(16, 500, 1.6);
        }
        li {
          display: inline;
          a {
            color: $color-495057;
            &:hover {
              color: $color-495057;
            }
          }
        }
      }
    }


  }
}