@use './variables' as *;
@use './mixins' as *;

.top-btn {
  @include rem (width, 64);
  @include rem (height, 64);
  @include rem (right, 48);
  @include rem (bottom, 48);
  @include rem (border-radius, 50%);
  position: fixed;
  background-color: $color-ffffff;
  border: 1px solid $color-d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  
  &:hover {
    background-color: $color-f8f9fa;
    transform: translateY(-2px);
  }
  
  .ico-top-btn {
    @include rem (width, 24);
    @include rem (height, 24);
    color: $color-495057;
  }
} 

@media (max-width: 1023px) {
  .top-btn {
    @include rem (width, 48);
    @include rem (height, 48);
    @include rem (right, 16);
    @include rem (bottom, 20);
    // @include rem (border-radius, 50%);
    // position: fixed;
    // background-color: $color-ffffff;
    // border: 1px solid $color-d9d9d9;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // cursor: pointer;
    // transition: all 0.3s ease-in-out;
    // z-index: 100;
    
    &:hover {
      // background-color: $color-f8f9fa;
      // transform: translateY(-2px);
    }
    
    .top-btn-icon {
      // @include rem (width, 24);
      // @include rem (height, 24);
      // color: $color-495057;
    }
  } 
}

