// Colors
$color-000000: #000000;
$color-212529: #212529;
$color-343a40: #343a40;
$color-666666: #666666;
$color-495057: #495057;
$color-868e96: #868e96;
$color-adb5bd: #adb5bd;
$color-ced4da: #ced4da;
$color-dee2e6: #dee2e6;
$color-e9ecef: #e9ecef;
$color-f1f3f5: #f1f3f5;
$color-f8f9fa: #f8f9fa;
$color-fbfbfc: #fbfbfc;
$color-ffffff: #ffffff;
$color-112b3b: #112b3b;
$color-214458: #214458;
$color-235167: #235167;
$color-21617d: #21617d;
$color-217899: #217899;
$color-259abd: #259abd;
$color-3fb1d1: #3fb1d1;
$color-7ccfe4: #7ccfe4;
$color-b2e4ef: #b2e4ef;
$color-d6f1f7: #d6f1f7;
$color-effbfc: #effbfc;
$color-f3ffff: #f3ffff;
$color-0f2742: #0f2742;
$color-173d63: #173d63;
$color-164c7e: #164c7e;
$color-145490: #145490;
$color-1869b1: #1869b1;
$color-2686d1: #2686d1;
$color-4da1e3: #4da1e3;
$color-8bc1ee: #8bc1ee;
$color-c1ddf6: #c1ddf6;
$color-e3eefb: #e3eefb;
$color-f2f8fd: #f2f8fd;
$color-f7fbfe: #f7fbfe;
$color-0c2627: #0c2627;
$color-1e4342: #1e4342;
$color-1f514f: #1f514f;
$color-216460: #216460;
$color-257c76: #257c76;
$color-319b92: #319b92;
$color-4bb6ac: #4bb6ac;
$color-77d1c5: #77d1c5;
$color-aae5db: #aae5db;
$color-d4f3ed: #d4f3ed;
$color-f2fbf9: #f2fbf9;
$color-f7fdfb: #f7fdfb;
$color-5a1605: #5a1605;
$color-741c06: #741c06;
$color-aa2909: #aa2909;
$color-df350c: #df350c;
$color-f34a20: #f34a20;
$color-f56947: #f56947;
$color-f7896e: #f7896e;
$color-f9a894: #f9a894;
$color-fbc8bb: #fbc8bb;
$color-fde7e2: #fde7e2;
$color-fef7f5: #fef7f5;
$color-fefbfa: #fefbfa;
$color-164c7e: #164c7e;
$color-2686d1: #2686d1;
$color-8bc1ee: #8bc1ee;
$color-f2f8fd: #f2f8fd;
$color-1f5c2d: #1f5c2d;
$color-228738: #228738;
$color-5ace72: #5ace72;
$color-f1fcf3: #f1fcf3;
$color-dd6b02: #dd6b02;
$color-ffb114: #ffb114;
$color-ffcb4a: #ffcb4a;
$color-fffaeb: #fffaeb;
$color-ba3531: #ba3531;
$color-e8423d: #e8423d;
$color-ed6864: #ed6864;
$color-f8c6c5: #f8c6c5;
$color-f3ffff: #f3ffff;
$color-f7fbfe: #f7fbfe;
$color-f7fdfb: #f7fdfb;
$color-fefbfa: #fefbfa;
$color-f1f3f5: #f1f3f5;
$color-f8f9fa: #f8f9fa;
$color-ffffff: #ffffff;
$color-b2e4ef: #b2e4ef;
$color-d6f1f7: #d6f1f7;
$color-effbfc: #effbfc;
$color-c1ddf6: #c1ddf6;
$color-e3eefb: #e3eefb;
$color-f2f8fd: #f2f8fd;
$color-aae5db: #aae5db;
$color-d4f3ed: #d4f3ed;
$color-f2fbf9: #f2fbf9;
$color-adb5bd: #adb5bd;
$color-ced4da: #ced4da;
$color-d9d9d9: #d9d9d9;
$color-555555: #555555;
$color-f1f2f5: #f1f2f5;
$color-434343: #434343;
$color-262626: #262626;
$color-9d9d9d: #9d9d9d;
$color-ef4444: #ef4444;
$color-e9ecef: #e9ecef;
$color-71747c: #71747c;
$color-09b596: #09b596;
$color-0d6efd: #0d6efd;
$color-343A40: #343A40;
$color-dee2E6: #dee2E6;
$color-7b7b7b: #7b7b7b;
$color-da291c: #da291c;
$color-3a8bcb: #3a8bcb;
$color-transparent: transparent;